<!-- Navbar top shows whether user is logged in, and if so, their identity -->

<div class="container">
    <% if current_user %>
        <!-- <div class="masthead"> -->
            <div id="user_nav">
                <% if current_user %>        
                    <%= link_to "Sign out", signout_path, id: "sign_out" %>
                <% end %>
            </div>
        <%= render :partial => "shared/user_info" %>
        <%= render :partial => "shared/new_post" %>
        <div class="span8">
            <h3>What's Going On?</h3>
            <%= render 'shared/feed' %>
        </div>  
        </div>
    <% else %>
        <h3>
            Hai <span class="username">friend</span>. Please sign in.
        </h3>
        <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
        
    <% end %>

  
    <hr>
    <div class="footer">
    <p>&copy; Let's Hang Out 2013</p>
    </div>
</div> <!-- /container -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->


<!-- Not sure if the below is right, if not, use this:

<script type="text/javascript">
     $('#timepicker1').timepicker();
</script>
                                                            -->
                                                            
<%= javascript_include_tag "bootstrap-timepicker" %>
<%= javascript_include_tag "hangout_timepicker" %>